section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-project{
    width: 200px; /* width of container */
    height: 200px; /* height of container */
    object-fit: cover;
    border-radius: 60%;
}